
#ApplicationPage {
    padding: 5rem;
    background: white;
    height: 110vh;
}

#centerBlock{
    margin-top: 0px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 70%;
    text-align: left;
}

#questionsRow{
    height: 500px;
}

#benefits{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 8px;
    margin-top: 2rem;
    background-color: #779ECC;
    color: white;
    text-align: center;
}

#benefits ul{
    text-align: left;
}

#listBenefits{
    padding: 0rem;
    list-style: none;
}
#listBenefit {
    margin-left: 10px;
}
#listBenefit::before {
    content: "\2713";
    color: #FFB347; 
}
