
#dropdown-search-sort {
    width: 50%;
}

#search-page-preferences-one {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

#search-page-preferences-two {
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

.search-page-filter {
    background: #D0D0D0;
    padding: 1rem;
}

.search-page-focus {
    text-align: left;
}
