
#coach-page {
    display: flex;
}

#try-coaching-container {
    background-color: #e1ecf7;
}

#img-header {
    height: 33%;
    background-image: url('../../../images/CoachAppHands.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#img-header-title { 
    color: #FFFFFF;
    font-weight: bold;
}

#img-header-desc { 
    color: #FFFFFF;
    font-weight: bold;
}
