.container{
    padding: 50px;
}

#buffer{
    background-color: #f2f2f2;
    padding: 0px;
    height: 3rem;
    margin: 0px;
}
#centerBlock{
    margin-top: 50px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 60%;
    text-align: left;
}

#heading{
     color: #646464;
}

#bodyText{
    color: white;
}

#coachServices{
    padding: 0rem;
    list-style: none;
}
.coachService::before {
    content: "\25B8";
    color: #FFB347; 
	
    padding-right: 10px;
}

#coachRequirements{
    padding: 1rem;
}