
#coach-page {
    display: flex;
}

#try-coaching-container {
    background-color: #a7cef6;
    padding: 6%;
    text-align: left;
}

#img-header {
    height: 33%;
    background-image: url('../../../images/CoachAppHands.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    padding-top: 10%;
}

#img-header-title { 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}

#img-header-desc { 
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 10%;
}
