#buffer{
    background-color: #f2f2f2;
    padding: 0px;
    height: 3rem;
    margin: 0px;
}

#centerBlock{
    margin-top: 20px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 70%;
    text-align: left;
}
#centerBlockNext{
    margin-top: 20px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 70%;
    text-align: center;
}

#Title{
    color: #FFB347
}

#quizQuestions {
    color: white; 
    padding-left: 16px;
}

#quizQuestion{
    color: white; 
    padding-right: 0px;
    text-align: left;
}

#quizQuestion::before {
    color: white; 
    padding-right: 0px;
}

.Checkbox{
    color: black;
}