#EligibilityPage {
    margin-bottom: 5%;
}

#results-text {
    color: #cacaca;
    font-weight: bold;
    margin-top: 3%;
}

#buffer{
    background-color: #f2f2f2;
    padding: 0px;
    height: 3rem;
    margin: 0px;
}

#centerBlock{
    margin-top: 20px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 70%;
    text-align: left;
}
#centerBlockNext{
    margin-top: 20px;
    padding: 50px;
    padding-right:150px;
    background-color: #9FC0DE;
    width: 70%;
    text-align: center;
}

.form-check > label {
    color: "#373737";
    margin-right: 10%;
}

#Title{
    color: #FFB347;
    font-weight: bold;

}

#eligible-desc {
    color: #f6f6f6;
}

#quizQuestions {
    color: white; 
    padding-left: 16px;
}

#quizQuestion{
    color: white; 
    padding-right: 0px;
    text-align: left;
}

#quizQuestion::before {
    color: white; 
    padding-right: 0px;
}

.Checkbox{
    color: black;
}