#login-container {
    text-align: left;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
    background-image: url("../../images/homepage-background.png");
}

.login-header{
    text-align: center;
}

.login-subtitle{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.login-form {
    margin-bottom: 30%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    background: rgba(55,55,55, .4);
}

#login-form-submit {
    background-color: #9FC0DE;
    border: none;
    text-align: right;
}

#login-form-submit:hover {
    background-color: #779ECC;
    transition: 0.3s;
    border: none;
}

#login-form-submit:disabled {
    background-color: #E1ECF7;
    transition: 0.3s;
    border: none;
}

#login-social-media {
    background-color: #373737;
    color: white;
    border: none;
    margin: 10px;
}

#login-social-media:hover {
    background-color: #707070;
    transition: 0.3s;
    color: white;
    border: none;
}

