.homepage-body {
    z-index: -1;
}

.homepage-search {
    padding: 5rem;
    background-image: url("../../images/homepage-background.png");
    height: 100vh;
    background-size: cover;
}

.homepage-search-text {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.homepage-info {
    padding: 5rem;
}

.row-icon {
    color: #99CCFF;
    padding: 2rem;
}

/* Mobile Media Queries */

@media only screen and (max-width: 768px) {
    .homepage-title {
        padding: 0;
    }
    .homepage-desc {
        font-size: large;
    }
    .homepage-search-text {
        width: 100%
    }
}