#title-container {
    text-align: left;
    margin-top: 1%;
}

#title-header {
    font-weight: bold;
}

#text-header {
    font-weight: bold;
}

#options-container {
    text-align: left;
    margin-top: 2%;
    margin-bottom: 2%;
}