.footer{
    
    background-color: #f2f2f2;
    color: black;
}
.footer h8{
    color: #4d4d4d;
}

.social-media-btn {
    margin-right: 1rem;
}
/* 

NOTE: Removed this because styling using this caused issues on mobie

.row{
    height: 220px;
} */

.col-xs-6{
    margin-top: 25px;
} 
