
.coach-profile-card {
    background: #E1ECF7;
    margin-bottom: 2rem;
    display: flex;
    padding: 5%;
}

#coach-profile-card-desc {
    text-align: left;
    width: 75%;
}

.coach-profile-view-btn {
    background:#9FC0DE
}

.coach-profile-media {
    width: 75%;
}

.search-page-cards {
    display: flex;
    flex-wrap: wrap;
}