
#navbar {
    background: #707070;
    list-style: None;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar-linklist {
    margin: 0;
    list-style: None;
    padding-inline-start: 0;
    flex: 1;
    margin-top: 0.5rem;
}

.navbar-link {
    display: inline;
    padding: 1rem;
    text-decoration: None;
}

.navitem {
    text-decoration: None;
    color: #99CCFF;
    transition: 0.3s;
}

.navitem:hover {
    color: white;
}

.nav-brand {
    margin: 0;
    padding: 0 3rem 0;
    color: #99CCFF;
}