

.history-table-header {
    background: hsl(214, 40%, 64%);
    color: white;
    padding: 0.5rem;
}

.history-table-container {
    margin: 1rem;
}

.history-table-body {
    background: #F6F6F6;
    color: black;
}



.history-header {
    text-align: left;
    margin-bottom: 3rem;
    color: #779ECC;
}