
#register-container {
    text-align: left;
    padding: 5%;
    height: 100vh;
    background-image: url("../../images/homepage-background.png");
    background-size: cover;   
}

.register-form {
    /* margin-bottom: 10%; */
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    background: rgba(55,55,55, .4);
}

#register-form-submit {
    background-color: #9FC0DE;
    border: none;
}

.register-form-container {
    margin-left: 15%;
    margin-right: 15%;
}

#register-form-submit:hover {
    background-color: #779ECC;
    transition: 0.3s;
    border: none;
}

#register-form-submit:disabled {
    background-color: #E1ECF7;
    transition: 0.3s;
    border: none;
}

#register-social-media {
    background-color: #373737;
    color: white;
    border: none;
    margin: 10px;
}

#register-social-media:hover {
    background-color: #707070;
    transition: 0.3s;
    color: white;
    border: none;
}

/* .register-form-input {
} */