.searchbar-wrapper {
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.searchbar-input {
    display: flex;
}

#dropdown-basic {
    width: 20rem;
    background-color: #373737;
    color: #F6F6F6;
    font-weight: bold;
}

#dropdown-items {
    background-color: #373737;
    color: #F6F6F6;
}

#zipcode-input {
    width: 20rem;
    background-color: #373737;
    color: #F6F6F6;
}

#zip-code-error-alert {
    width: 75%;
    text-align: center;
    margin: auto;
}

#search-submit {
    margin-left: 5%;
    background-color: #373737;
    font-weight: bold;
    height: 3rem;
    border-radius:5%;
}

/* Mobile Media Queries */

@media only screen and (max-width: 800px) {
    .searchbar-wrapper {
        width: 100%;
        padding: 0;
    }
    .searchbar-input {
        display: flex;
    }
    #dropdown-basic {
        width: 100%;
    }
}