.searchbar-wrapper {
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.searchbar-input {
    display: flex;
}

#dropdown-basic {
    width: 20rem;
}

#zip-code-error-alert {
    width: 75%;
    text-align: center;
    margin: auto;
}

/* Mobile Media Queries */

@media only screen and (max-width: 800px) {
    .searchbar-wrapper {
        width: 100%;
        padding: 0;
    }
    .searchbar-input {
        display: flex;
    }
    #dropdown-basic {
        width: 100%;
    }
}