.searchbar-wrapper {
    width: 75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.searchbar-input {
    display: flex;
}

.dropdown-toggle {
    width: 20rem;
}

/* Mobile Media Queries */

@media only screen and (max-width: 768px) {
    .searchbar-wrapper {
        width: 100%;
        padding: 0;
    }
    .searchbar-input {
        display: flex;
    }
    .dropdown-toggle {
        width: 100%;
    }
}